<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <footer th:fragment="footer" class="container-fluid bg-dark">
            <div class="container p-2">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                    <div class="text-secondary text-center text-md-start m-2 m-md-0">
                        <p class="mb-1">Приложение для мониторинга состояния пациентов с лёгочной артериальной гипертензией</p>
                        <p class="mb-1">Дипломная работа студента Панько Ивана Сергеевича</p>
                        <p class="mb-0">СПбГЭТУ "ЛЭТИ", 2023/2024 год</p>
                    </div>
                    <div class="m-2 m-md-0">
                        <a href="#" th:href="@{/}">
                            <img src="../../../static/img/main.png" th:src="@{/img/main.png}" alt="Главная" width="84" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
