<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="'Заявка на регистрацию медицинского учреждения ' + ${request.hospital.name}">Заявка на регистрацию медицинского учреждения "Алмазова"</title>
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div class="row mb-5">
                <div class="col-12">
                    <h1 th:text="${request.hospital.name}" class="fs-4">Национальный медицинский исследовательский центр имени В. А. Алмазова</h1>
                    <p class="fs-5 mb-0">
                        OID:
                        <span th:text="${request.hospital.oid}">1.2.134.65643.1234.34435.984</span>
                    </p>
                </div>
            </div>
            <hr class="my-5" />
            <!---->
            <div class="row mb-5">
                <div class="col-12">
                    <h3 class="fs-4">Дата</h3>
                    <p class="fs-6 mb-0" th:text="${request.formattedDate}">01-02-2023 14:51:59</p>
                </div>
            </div>
            <!---->
            <div class="row mb-5">
                <div class="col-12">
                    <h3 class="fs-4">Заявитель</h3>
                    <div class="fs-6">
                        <p class="mb-1">
                            ФИО:
                            <span>
                                <span th:text="${request.lastname}">Иванов</span>
                                <span th:text="${request.name}">Иван</span>
                                <span th:text="${request.patronymic}" th:if="${request.patronymic != null}">Иванович</span>
                            </span>
                        </p>
                        <p class="mb-1">
                            Должность:
                            <span th:text="${request.post}">Главный врач</span>
                        </p>
                        <p class="mb-1">
                            Паспорт:
                            <span th:text="${request.passport}">1234 567890</span>
                        </p>
                        <p class="mb-0">
                            Телефон:
                            <span th:text="${request.phoneNumber}">+7 (904) 190-29-84</span>
                        </p>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row mb-5">
                <div class="col-12">
                    <h3 class="fs-4">Почта</h3>
                    <p class="fs-6 mb-0" th:text="${request.email}">someMail@maaaail</p>
                </div>
            </div>
            <!---->
            <div class="row mb-5" th:if="${request.comment != null}">
                <div class="col-12">
                    <h3 class="fs-4">Комментарий</h3>
                    <p class="fs-6 mb-0" th:text="${request.comment}">Текст непустого комментария</p>
                </div>
            </div>
            <!---->
            <div class="row">
                <div class="col-12">
                    <h3 class="fs-4">Статус</h3>
                    <div th:switch="${#strings.toString(request.hospital.currentState)}">
                        <p th:case="'WAITING_CODE'" class="fs-6 mb-0">
                            <span>Ожидает вашего решения:</span>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#code-generation-modal" class="text-decoration-none">
                                <img width="24" src="../../static/svg/accept.svg" th:src="@{/svg/accept.svg}" alt="Принять" />
                            </a>
                            <span class="fw-bold"> / </span>
                            <a href="#" class="text-decoration-none">
                                <img width="24" src="../../static/svg/decline.svg" th:src="@{/svg/decline.svg}" alt="Отклонить" id="decline-request" />
                            </a>
                        </p>
                        <p th:case="'WAITING_REGISTRATION'" class="fs-6 mb-0">
                            Ожидает регистрации администратора. Код был выдан
                            <span th:text="${request.hospital.formattedDate}" class="fw-semibold">19-08-2021 в 15:55:41</span>
                        </p>
                        <p th:case="'REGISTERED'" class="fs-6 mb-0">
                            Зарегистрировано
                            <span th:text="${request.hospital.formattedDate}" class="fw-semibold">19.12.2021 в 12:59:01</span>
                        </p>
                    </div>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="${#strings.toString(request.hospital.currentState) == 'WAITING_CODE'} ? ~{/hospitals/modal/code-gen-modal :: code-gen-modal} : ~{}"></div>
        <!---->
        <div th:replace="${#strings.toString(request.hospital.currentState) == 'WAITING_CODE'} ? ~{/fragments/modal/error-modal :: error-modal} : ~{}"></div>
        <div th:replace="${#strings.toString(request.hospital.currentState) == 'WAITING_CODE'} ? ~{/fragments/modal/success-modal :: success-modal} : ~{}"></div>
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../static/js/hospitals/hospital-registration-request.js" th:src="@{/js/hospitals/hospital-registration-request.js}"></script>
        <script src="../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
