<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Медицинские учреждения</title>
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div class="row text-center mb-5">
                <div class="col-12">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                        <h1 class="fs-3 m-2 m-md-0">Список медицинских учреждений</h1>
                        <div class="m-2 m-md-0">
                            <button class="btn btn-lg btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" aria-controls="filter" id="filter-button">Фильтр</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div th:replace="~{/fragments/filtration/filtration :: filtration}"></div>
            <!---->
            <div class="row" th:each="each, status : ${hospitals}" th:classappend="${!status.last} ? 'mb-3'">
                <div class="col-12" th:classappend="${!status.last} ? 'mb-3'">
                    <div class="text-start">
                        <p class="fs-5 word-wrap mb-2">
                            <img width="24" src="../../static/svg/hospital.svg" th:src="@{/svg/hospital.svg}" alt="Медицинское учреждение" />
                            <span th:switch="${#strings.toString(each.currentState)}">
                                <a th:case="'WAITING_CODE'" href="#" th:href="@{/hospital-registration/requests/__${each.request.id}__}" th:text="${each.name}" class="text-decoration-none text-secondary">Алмазова</a>
                                <a th:case="'WAITING_REGISTRATION'" href="#" th:href="@{/hospital-registration/requests/__${each.request.id}__}" th:text="${each.name}" class="text-decoration-none text-secondary">Алмазова</a>
                                <a th:case="'REGISTERED'" href="#" th:href="@{/hospitals/__${each.id}__}" th:text="${each.name}" class="text-decoration-none text-secondary">Алмазова</a>
                            </span>
                        </p>
                        <p class="fs-6 mb-1">
                            OID:
                            <span th:text="${each.oid}">1.2932.4743646.21.123</span>
                        </p>
                        <p class="fs-6 mb-0">
                            <span th:switch="${#strings.toString(each.currentState)}">
                                <span th:case="'WAITING_CODE'" class="text-danger">
                                    Ожидает выдачи кода. Заявка была подана
                                    <span th:text="${each.formattedDate}"></span>
                                </span>
                                <span th:case="'WAITING_REGISTRATION'" class="text-warning">
                                    Ожидает регистрации администратора. Код был выдан
                                    <span th:text="${each.formattedDate}"></span>
                                </span>
                                <span th:case="'REGISTERED'" class="text-success">
                                    Зарегистрировано
                                    <span th:text="${each.formattedDate}"></span>
                                </span>
                            </span>
                        </p>
                    </div>
                </div>
                <hr class="mb-0" th:if="${!status.last}" />
            </div>
            <!---->
            <div class="row" th:if="${hospitals.empty}" id="empty-hospitals-message">
                <div class="col-12">
                    <div class="text-secondary text-center fst-italic fs-2">Список медицинских учреждений пуст</div>
                </div>
            </div>
            <!---->
            <div th:replace="~{/fragments/pagination/pagination :: pagination}"></div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../static/js/common/get-params.js" th:src="@{/js/common/get-params.js}"></script>
        <script src="../../static/js/common/pagination.js" th:src="@{/js/common/pagination.js}"></script>
        <script src="../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
