<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${hospital.name}">Медицинское учреждение</title>
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h1 th:text="${hospital.name}" class="fs-4">Национальный медицинский исследовательский центр имени В. А. Алмазова</h1>
                    <p class="fs-4 mb-0">
                        OID:
                        <span th:text="${hospital.oid}">1.12.1235.11235.46.245</span>
                    </p>
                </div>
            </div>
            <!---->
            <div class="row mb-5">
                <div class="col-12">
                    <h4 class="fs-4">
                        <a href="#" th:href="@{/hospitals/__${hospital.id}__/admins}" class="text-secondary">Администраторы</a>
                    </h4>
                    <div class="fs-6">
                        <p class="mb-1">
                            Всего:
                            <span th:text="${adminStat.total}">11</span>
                        </p>
                        <p class="mb-1">
                            Активные:
                            <span th:text="${adminStat.activeCount}">5</span>
                        </p>
                        <p class="mb-1">
                            В отпуске:
                            <span th:text="${adminStat.vacationCount}">2</span>
                        </p>
                        <p class="mb-1">
                            На больничном:
                            <span th:text="${adminStat.sickLeaveCount}">3</span>
                        </p>
                        <p class="mb-0">
                            Уволенные:
                            <span th:text="${adminStat.dismissalCount}">1</span>
                        </p>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row mb-5">
                <div class="col-12">
                    <h4 class="fs-4">
                        <a href="#" th:href="@{/hospitals/__${hospital.id}__/doctors}" class="text-secondary">Врачи</a>
                    </h4>
                    <div class="fs-6">
                        <p class="mb-1">
                            Всего:
                            <span th:text="${doctorStat.total}">14</span>
                        </p>
                        <p class="mb-1">
                            Активные:
                            <span th:text="${doctorStat.activeCount}">10</span>
                        </p>
                        <p class="mb-1">
                            В отпуске:
                            <span th:text="${doctorStat.vacationCount}">1</span>
                        </p>
                        <p class="mb-1">
                            На больничном:
                            <span th:text="${doctorStat.sickLeaveCount}">1</span>
                        </p>
                        <p class="mb-1">
                            Уволенные:
                            <span th:text="${doctorStat.dismissalCount}">0</span>
                        </p>
                        <p class="mb-0">
                            Без пациентов:
                            <span th:text="${doctorStat.withoutPatientsCount}">2</span>
                        </p>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row" th:classappend="${isMainAdmin} ? 'mb-5'">
                <div class="col-12">
                    <h4 class="fs-4">
                        <a href="#" th:href="@{/hospitals/__${hospital.id}__/patients}" class="text-secondary">Пациенты</a>
                    </h4>
                    <div class="fs-6">
                        <p class="mb-1">
                            Всего:
                            <span th:text="${patientStat.total}">26</span>
                        </p>
                        <p class="mb-1">
                            Активные:
                            <span th:text="${patientStat.activeCount}">24</span>
                        </p>
                        <p class="mb-1">
                            Неактивные:
                            <span th:text="${patientStat.inactiveCount}">2</span>
                        </p>
                        <p class="mb-0">
                            Нераспределённые:
                            <span th:text="${patientStat.unallocated}">4</span>
                        </p>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row" th:if="${isMainAdmin}">
                <div class="col-12">
                    <h4 class="fs-4">
                        <a href="#" th:href="@{/hospital-registration/requests/__${hospital.request.id}__}" class="text-secondary fs-4">Заявка</a>
                    </h4>
                    <div class="fs-6">
                        <p class="mb-1">
                            Дата подачи заявки:
                            <span th:text="${hospital.request.formattedDate}">21-11-2022 в 16:54:12</span>
                        </p>
                        <p class="mb-0">
                            Дата регистрации:
                            <span th:text="${hospital.formattedDate}">25-11-2022 в 17:11:49</span>
                        </p>
                    </div>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
