<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${hospital.name}">Медицинское учреждение</title>
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h1 th:text="${hospital.name}" class="fs-3">Национальный медицинский исследовательский центр имени В. А. Алмазова</h1>
                    <p th:text="'OID: ' + ${hospital.oid}" class="fs-4 mb-0">OID: 12.3235.4546.2345</p>
                </div>
            </div>
            <!---->
            <div class="row mb-5">
                <div class="col-12">
                    <div class="mb-3">
                        <a href="#" th:href="@{/hospitals/__${hospital.id}__/admins}" class="text-secondary fs-4">Администраторы</a>
                    </div>
                    <ul class="mb-0 fs-5">
                        <li th:text="'Активные: ' + ${adminStat.activeCount}">Активные: 5</li>
                        <li th:text="'В отпуске: ' + ${adminStat.vacationCount}">В отпуске: 1</li>
                        <li th:text="'На больничном: ' + ${adminStat.sickLeaveCount}">На больничном: 2</li>
                        <li th:text="'Уволенные: ' + ${adminStat.dismissalCount}">Уволенные: 0</li>
                    </ul>
                </div>
            </div>
            <hr class="mb-5" />
            <!---->
            <div class="row mb-5">
                <div class="col-12">
                    <div class="mb-3">
                        <a href="#" th:href="@{/hospitals/__${hospital.id}__/doctors}" class="text-secondary fs-4">Врачи</a>
                    </div>
                    <ul class="mb-0 fs-5">
                        <li th:text="'Активные: ' + ${doctorStat.activeCount}">Активные: 11</li>
                        <li th:text="'В отпуске: ' + ${doctorStat.vacationCount}">В отпуске: 2</li>
                        <li th:text="'На больничном: ' + ${doctorStat.sickLeaveCount}">На больничном: 0</li>
                        <li th:text="'Уволенные: ' + ${doctorStat.dismissalCount}">Уволенные: 3</li>
                        <li th:text="'Без пациентов: ' + ${doctorStat.withoutPatientsCount}">Без пациентов: 2</li>
                    </ul>
                </div>
            </div>
            <hr class="mb-5" />
            <!---->
            <div class="row" th:classappend="${isMainAdmin} ? 'mb-5'">
                <div class="col-12">
                    <div class="mb-3">
                        <a href="#" th:href="@{/hospitals/__${hospital.id}__/patients}" class="text-secondary fs-4">Пациенты</a>
                    </div>
                    <ul class="mb-0 fs-5">
                        <li th:text="'Активные: ' + ${patientStat.activeCount}">Активные: 24</li>
                        <li th:text="'Неактивные: ' + ${patientStat.inActiveCount}">Неактивные: 2</li>
                        <li th:text="'Нераспределённые: ' + ${patientStat.unallocated}">Нераспределённые: 11</li>
                    </ul>
                </div>
            </div>
            <hr class="mb-5" th:if="${isMainAdmin}" />
            <!---->
            <div class="row" th:if="${isMainAdmin}">
                <div class="col-12">
                    <div class="mb-3">
                        <a href="#" th:href="@{/hospital-registration/requests/__${hospital.request.id}__}" class="text-secondary fs-4">Заявка</a>
                    </div>
                    <p class="fs-5 mb-1">Заявка на регистрацию медицинского учреждения была подана <span th:text="${hospital.request.formattedDate}">19-09-2022 в 16:54:12</span></p>
                    <p class="fs-5 mb-0"><span th:text="'Оно было зарегистрировано ' + ${hospital.formattedDate}">19-09-2022 в 16:54:12</span></p>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
