<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <title>Модальное окно для сообщений об ошибке</title>
    </head>
    <body>
        <div th:fragment="error-modal" class="modal fade" id="error-modal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-overriden-danger">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-4" id="error-modal-title">Ошибка</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body fs-5" id="error-modal-text">Здесь располагается текст ошибки. Этот блок заполняется js-кодом.</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
