<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div th:fragment="success-modal" class="modal fade" id="success-modal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-overriden-success">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-4" id="success-modal-title">Успех</h1>
                        <button id="success-modal-close-1" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body fs-5" id="success-modal-text">Здесь располагается текст сообщения об успехе. Этот блок заполняется js-кодом.</div>
                    <div class="modal-footer">
                        <button id="success-modal-close-2" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
