<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Анамнез</title>
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div class="row mb-5">
                <div class="col-12">
                    <h1 class="text-center fs-3 mb-0">Анамнез</h1>
                </div>
            </div>
            <!---->
            <div class="row fs-5">
                <div class="col-12">
                    <form action="#" th:action="@{/rest/anamnesis/add}" method="post" id="anamnesis-form">
                        <div class="mb-5">
                            <h4 class="fs-4">Имеются ли у вас врождённые пороки сердца?</h4>
                            <div class="form-check form-check-inline" th:each="each : ${trueFalse}">
                                <label class="form-check-label" th:for="'heartDisease' + ${each}" th:text="${each.yesNo}">Да</label>
                                <input th:id="'heartDisease' + ${each}" type="radio" class="form-check-input" th:value="${each.value}" name="heartDisease" />
                            </div>
                        </div>
                        <div class="mb-5">
                            <h4 class="fs-4">Имеются ли у вас хронические заболевания лёгких?</h4>
                            <div class="form-check form-check-inline" th:each="each : ${trueFalse}">
                                <label class="form-check-label" th:for="'lungDisease' + ${each}" th:text="${each.yesNo}">Нет</label>
                                <input th:id="'lungDisease' + ${each}" type="radio" class="form-check-input" th:value="${each.value}" name="lungDisease" />
                            </div>
                        </div>
                        <div class="mb-5">
                            <h4 class="fs-4">Имелись ли хронические заболевания сердца или лёгких у ваших близких родственников?</h4>
                            <div class="form-check form-check-inline" th:each="each : ${trueFalse}">
                                <label class="form-check-label" th:for="'relativesDiseases' + ${each}" th:text="${each.yesNo}">Да</label>
                                <input th:id="'relativesDiseases' + ${each}" type="radio" class="form-check-input" th:value="${each.value}" name="relativesDiseases" />
                            </div>
                        </div>
                        <div class="mb-5">
                            <h4 class="fs-4">Какая у вас свёртываемость крови?</h4>
                            <div class="form-check form-check-inline" th:each="each : ${bloodClotting}">
                                <label class="form-check-label" th:for="'bloodClotting' + ${each}" th:text="${each.alias}">Тромбофлебит</label>
                                <input th:id="'bloodClotting' + ${each}" type="radio" class="form-check-input" th:value="${each}" name="bloodClotting" />
                            </div>
                        </div>
                        <div class="mb-5">
                            <h4 class="fs-4">Имеется ли у вас сахарный диабет?</h4>
                            <div class="form-check form-check-inline" th:each="each : ${trueFalse}">
                                <label class="form-check-label" th:for="'diabetes' + ${each}" th:text="${each.yesNo}">Да</label>
                                <input th:id="'diabetes' + ${each}" type="radio" class="form-check-input" th:value="${each.value}" name="diabetes" />
                            </div>
                        </div>
                        <div class="mb-5 col-12 col-md-8 col-lg-4">
                            <label for="height" class="form-label fw-semibold fs-4">Ваш рост (см)</label>
                            <input type="number" name="height" id="height" class="form-control" placeholder="177" />
                        </div>
                        <div class="mb-5 col-12 col-md-8 col-lg-4">
                            <label for="weight" class="form-label fw-semibold fs-4">Ваш вес (кг)</label>
                            <input type="number" step="0.01" name="weight" id="weight" class="form-control" placeholder="64.9" />
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/modal/error-modal :: error-modal}"></div>
        <div th:replace="~{/fragments/modal/success-modal :: success-modal}"></div>
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../static/js/patient_additions/anamnesis-form.js" th:src="@{/js/patient_additions/anamnesis-form.js}"></script>
        <script src="../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
