<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Регистрация</title>
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div class="row">
                <div class="col-12">
                    <form action="#" th:action="@{/rest/registration}" method="post" class="border rounded fs-5 p-3" id="user-registration-form">
                        <h2 class="fs-4">Регистрация</h2>
                        <hr />
                        <div class="mb-3">
                            <p class="form-label">Предопределённая информация</p>
                            <div class="border rounded p-2" id="predefined-info">
                                <div class="mb-2 m-1">
                                    <label for="hospital-name" class="form-label">Медицинское учреждение</label>
                                    <input th:value="${code.hospital.name}" type="text" name="hospital-name" id="hospital-name" class="form-control" disabled />
                                </div>
                                <div class="mb-3 m-1">
                                    <label for="role" class="form-label">Роль</label>
                                    <input th:value="${code.role.alias}" type="text" name="role" id="role" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Логин-информация</p>
                            <div class="border rounded p-2" id="login-info">
                                <div class="mb-2 m-1">
                                    <label for="email" class="form-label">Почта <span class="text-danger fs-6"> *</span></label>
                                    <input type="email" name="email" id="email" class="form-control" placeholder="example@mail.com" />
                                </div>
                                <div class="mb-3 m-1">
                                    <label for="password" class="form-label">Пароль <span class="text-danger fs-6"> *</span></label>
                                    <input type="password" name="password" id="password" class="form-control" placeholder="@strong!Password123@" />
                                </div>
                            </div>
                        </div>
                        <div class="mb-3" th:if="${isEmployee}">
                            <p class="form-label">Рабочая информация</p>
                            <div class="border rounded p-2" id="employee-info">
                                <div class="mb-3 m-1">
                                    <label for="post" class="form-label">Должность <span class="text-danger fs-6"> *</span></label>
                                    <input type="text" name="post" id="post" class="form-control" placeholder="Секретарь" />
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Общая информация</p>
                            <div class="border rounded p-2" id="general-info">
                                <div class="mb-2">
                                    <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
                                        <div class="flex-grow-1 m-1">
                                            <label for="lastname" class="form-label">Фамилия <span class="text-danger fs-6"> *</span></label>
                                            <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Иванов" />
                                        </div>
                                        <div class="flex-grow-1 m-1">
                                            <label for="name" class="form-label">Имя <span class="text-danger fs-6"> *</span></label>
                                            <input type="text" name="name" id="name" class="form-control" placeholder="Иван" />
                                        </div>
                                        <div class="flex-grow-1 m-1">
                                            <label for="patronymic" class="form-label">Отчество</label>
                                            <input type="text" name="patronymic" id="patronymic" class="form-control" placeholder="Иванович" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 m-1">
                                    <label for="phone-number" class="form-label">Номер телефона <span class="text-danger fs-6"> *</span></label>
                                    <input type="text" name="phoneNumber" id="phone-number" class="form-control" placeholder="89212345901" />
                                </div>
                                <div class="mb-3 m-1">
                                    <p class="form-label">Пол</p>
                                    <div class="form-check" th:each="each, status : ${genders}" id="gender">
                                        <div>
                                            <label class="form-check-label" th:for="'gender-radio-' + ${status.index}"></label>
                                            <input th:id="'gender-radio-' + ${status.index}" type="radio" class="form-check-input" th:text="${each.alias}" th:value="${each}" name="gender" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 m-1">
                                    <label for="birthdate" class="form-label">Дата рождения</label>
                                    <input type="date" name="birthdate" id="birthdate" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <hr class="mt-4" />
                        <button type="submit" class="btn btn-lg btn-primary my-1">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/modal/error-modal :: error-modal}"></div>
        <div th:replace="~{/fragments/modal/success-modal :: success-modal}"></div>
        <div th:replace="~{/fragments/modal/code-input-modal :: code-input-modal}"></div>
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../static/js/code-check.js" th:src="@{/js/code-check.js}"></script>
        <script src="../../static/js/registration/registration.js" th:src="@{/js/registration/registration.js}"></script>
        <script src="../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
