<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="'Награды пациента ' + '&quot;' ${patient.userInformation.fullName} + '&quot;'">Награды пациента "Иванов Иван Иванович"</title>
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div class="row text-center mb-5">
                <h1 class="fs-3" th:text="'Награды пациента ' + '&quot;' ${patient.userInformation.fullName} + '&quot;'">Награды пациента "Иванов Иван Иванович"</h1>
            </div>
            <!---->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 text-center g-4 mb-4">
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 1</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/1.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 2</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/2.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 3</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/3.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 4</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/4.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 5</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/5.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 6</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/6.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 7</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/7.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 8</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/8.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 9</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/9.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 10</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/10.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 11</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/11.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 12</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/12.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 13</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/13.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 14</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/14.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 15</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/15.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 16</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/16.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 17</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/17.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 18</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/18.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 19</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/19.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="border rounded">
                        <h4 class="fs-4 mb-1">Награда 20</h4>
                        <div class="mb-1">
                            <img src="../../static/img/achievements/20.png" width="72" alt="" />
                        </div>
                        <p class="mb-0">Выдаётся за какие-то заслуги</p>
                    </div>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
    </body>
</html>
