<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Диалог</title>
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary fs-6 my-5">
            <!---->
            <div class="row fs-5 mb-5">
                <div class="col-12">
                    <h1 class="text-center fs-3 mb-0" th:text="${recipient.userInformation.fullName}">Берия Лаврентий Павлович</h1>
                </div>
            </div>
            <!---->
            <div class="row messenger mb-5 py-3 border rounded" id="messenger">
                <div class="col-12" th:each="each, status : ${dialogue}" th:classappend="${!status.last} ? 'mb-2'">
                    <!--<div class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-lg-between">
                        <div class="mx-3 mx-lg-0" th:text="${each.authorFullName}">Вы</div>
                        <div class="mx-3 mx-lg-0" th:text="${each.formattedDate}">19.03.2021 в 19:54:12</div>
                    </div>
                    <hr class="my-1" />
                    <div th:text="${each.text}" th:attr="data-text=${each.id}" class="text-break">Товарищи! сложиветствует потребностям.</div>
                    <div class="d-flex flex-row flex-wrap align-items-center justify-content-between">
                        <div>
                            <a href="#" th:attr="data-edit=${each.id}" class="text-decoration-none">
                                <img width="20" src="../../static/svg/edit.svg" th:src="@{/svg/edit.svg}" alt="Редактировать" />
                            </a>
                            <a href="#" th:attr="data-delete=${each.id}" class="text-decoration-none">
                                <img width="20" src="../../static/svg/delete.svg" th:src="@{/svg/delete.svg}" alt="Удалить" />
                            </a>
                        </div>
                        <div th:if="${each.formattedEditingDate != null}" class="text-end fst-italic fs-6">
                            <span>Изм.</span>
                            <span th:text="${each.formattedEditingDate}">21.04.2022 в 15:22:36</span>
                        </div>
                    </div>-->

                    <!--<div th:if="${currentUser.userInformation.id == each.authorId}" class="col-10 me-auto border p-2 rounded bg-message-author d-inline-block w-auto text-start" th:text="${each.text}">
                        <div class="d-inline-block w-auto" th:text="${each.text}"></div>
                    </div>
                    <div th:if="${currentUser.userInformation.id != each.authorId}" class="col-10 ms-auto border p-2 rounded bg-message-recipient d-inline-block w-auto text-end" th:text="${each.text}">
                        <div class="d-inline-block w-auto" th:text="${each.text}"></div>
                    </div>-->
                    <div class="col-10 me-auto text-start" th:if="${currentUser.userInformation.id == each.authorId}">
                        <div class="border p-2 rounded bg-message-author d-inline-block w-auto text-start text-black" th:text="${each.text}">Текст1</div>
                    </div>
                    <div class="col-10 ms-auto text-end" th:if="${currentUser.userInformation.id != each.authorId}">
                        <div class="border p-2 rounded bg-message-recipient d-inline-block w-auto text-start text-black" th:text="${each.text}">Текст2</div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row" th:attr="data-author=${currentUser.userInformation.id}">
                <form action="#" method="post" id="message-form" class="border rounded messenger-form p-3 bg-indicator">
                    <input class="visually-hidden" name="id" />
                    <div class="d-flex flex-row align-items-center">
                        <textarea name="message" id="message" class="form-control flex-grow-1 me-2" rows="1" placeholder="Текст сообщения..."></textarea>
                        <a href="#" id="send" class="text-decoration-none ms-2">
                            <img width="32" src="../../static/svg/send.svg" th:src="@{/svg/send.svg}" alt="Отправить" />
                        </a>
                    </div>
                </form>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/modal/error-modal :: error-modal}"></div>
        <div th:replace="~{/fragments/modal/success-modal :: success-modal}"></div>
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
        <script src="../../static/js/messages/dialogue.js" th:src="@{/js/messages/dialogue.js}"></script>
        <script src="../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
