<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <nav th:fragment="pagination" class="mb-5">
            <ul class="pagination">
                <li class="page-item">
                    <button id="first-page" class="page-link" th:classappend="${currentPage == 1} ? 'disabled'">&lt;&lt;</button>
                </li>
                <li class="page-item">
                    <button id="prev-page" class="page-link" th:classappend="${currentPage == 1} ? 'disabled'">&lt;</button>
                </li>
                <li class="page-item">
                    <button id="current-page" class="page-link active" th:text="${currentPage}">1</button>
                </li>
                <li class="page-item">
                    <button id="next-page" class="page-link" th:classappend="${currentPage == pagesCount} ? 'disabled'">&gt;</button>
                </li>
                <li class="page-item" th:attr="data-count=${pagesCount}">
                    <button id="last-page" class="page-link" th:classappend="${currentPage == pagesCount} ? 'disabled'">&gt;&gt;</button>
                </li>
            </ul>
        </nav>
    </body>
</html>
