<!DOCTYPE html>

<html
    lang="ru"
    xmlns:th="https://www.thymeleaf.org"
    th:fragment="indicator-table (
        documentSelfTitle,
        documentOtherTitle,
        pageSelfTitle,
        pageOtherTitle,
        jsLink,
        isOverallHealth,
        isPhysicalChanges,
        isWalkTest
    )"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:if="${isSelf}" th:text="${documentSelfTitle}">Динамика вашего кашля</title>
        <title th:if="${!isSelf}" th:text="${documentOtherTitle}">Динамика кашля пациента «Иванов Степан Петрович»</title>
        <link href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" th:href="@{https://unpkg.com/gridjs/dist/theme/mermaid.min.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div th:replace="~{/indicators/fragments/indicator-title :: indicator-title (${pageSelfTitle}, ${pageOtherTitle})}"></div>
            <!---->
            <div th:replace="~{/fragments/selection/periodization :: periodization}"></div>
            <!---->
            <div class="row">
                <div class="col-12">
                    <div id="table" th:attr="data-patient=${patient.id}"></div>
                </div>
            </div>
            <!---->
            <div class="row mt-5" th:if="${isOverallHealth}">
                <div class="col-12">
                    <h4 class="fs-5">Примечание</h4>
                    <div class="fs-6">
                        Эта таблица предназначена для удобной навигации по сданным в разное время показателям "Общее самочувствие", а непосредственно результаты удобнее просматривать в виде отдельных анкет, так как этот показатель содержит в себе много
                        длинных вопросов с односложными ответами.
                    </div>
                </div>
            </div>
            <!---->
            <div class="row mt-5" th:if="${isPhysicalChanges}">
                <div class="col-12">
                    <h4 class="fs-5">Примечание</h4>
                    <div class="fs-6">
                        Эта таблица предназначена для удобной навигации по сданным в разное время показателям "Физические изменения", а непосредственно результаты удобнее просматривать в виде отдельных анкет, так как этот показатель содержит в себе много
                        длинных вопросов с односложными ответами.
                    </div>
                </div>
            </div>
            <!---->
            <div class="row mt-5" th:if="${isWalkTest}">
                <div class="col-12">
                    <h4 class="fs-5">Примечание</h4>
                    <div class="fs-6">
                        Запись результатов с символом
                        <span class="fw-semibold">"→"</span>
                        означает
                        <span class="fw-semibold">"Показатель до нагрузки → Показатель после нагрузки"</span>
                        . Например, если до нагрузки верхнее давление пациента составляло 120 (мм рт.ст.), а после нагрузки оно составило 180 (мм рт.ст.), то это будет отображено как
                        <span class="fw-semibold">"120 → 180"</span>.
                    </div>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../../static/js/moment/moment.js" th:src="@{/js/moment/moment.js}"></script>
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js" th:src="@{https://unpkg.com/gridjs/dist/gridjs.umd.js}"></script>
        <script src="../../../static/js/indicators/tables/cough-table.js" th:src="@{${jsLink}}"></script>
        <script src="../../../static/js/selection/periodization.js" th:src="@{/js/selection/periodization.js}"></script>
        <script src="../../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
