<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>Навигационная панель заголовков</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
    </head>

    <body class="min-vh-100 d-flex flex-column justify-content-start">
        <!-- ---------------------------------------- Фрагмент: навигационная панель заголовков ---------------------------------------- -->
        <div
            th:fragment="doctor-header"
            class="bg-dark d-flex flex-row flex-wrap align-items-center justify-content-center"
        >
            <!-- Навигационная панель -->
            <nav class="m-2">
                <ul class="nav justify-content-center">
                    <li>
                        <a
                            href="#"
                            th:href="@{/profile/__${currentUser.id}__}"
                            class="nav-link text-wheat"
                            th:text="${nameLastname}"
                            th:classappend="${#strings.equals(page, 'index')} ? text-secondary"
                            >ИмяФамилия</a
                        >
                    </li>
                    <li class="text-white">ВРАЧ</li>
                    <li>
                        <a
                            href="#"
                            th:href="@{/}"
                            class="nav-link text-wheat"
                            th:classappend="${#strings.equals(page, 'index')} ? text-secondary"
                            >Главная</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            th:href="@{/}"
                            class="nav-link text-wheat"
                            th:classappend="${#strings.equals(page, 'index')} ? text-secondary"
                            >Пациенты</a
                        >
                    </li>
                    <li>
                        <form
                            action="#"
                            th:action="@{/auth/logout}"
                            method="post"
                        >
                            <button
                                type="submit"
                                class="dropdown-item text-white"
                            >
                                Выйти
                            </button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>
