<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${title}">Пользователи</title>
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div class="row text-center mb-5">
                <div class="col-12">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                        <h1 class="fs-3 m-2 m-md-0" th:text="${usersListDescription}">Список пользователей</h1>
                        <div class="m-1 m-md-0">
                            <button class="btn btn-lg btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" aria-controls="filter" id="filter-button">Фильтр</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div th:replace="~{/fragments/selection/filtration :: filtration}"></div>
            <!---->
            <div class="row" th:each="each, status : ${users}" th:classappend="${!status.last} ? 'mb-3'">
                <div class="col-12">
                    <div class="text-start">
                        <p class="fs-4 text-break mb-1">
                            <img width="24" class="mb-1" src="../../static/svg/user.svg" th:src="@{/svg/user.svg}" alt="Пользователь" />
                            <a href="#" th:href="@{/users/__${each.userInformation.id}__}" th:text="${each.userInformation.fullName}" class="text-decoration-none text-secondary"> Козлов Геннадий Петрович </a>
                            <span th:if="${each.isActive && (param.patientId == null || !currentUser.isAdministrator || !each.isDoctor)}" class="text-success text-lowercase fs-6">Активен</span>
                            <span th:if="${each.isActive && param.patientId != null && currentUser.isAdministrator && each.isDoctor}">
                                <a href="#" th:if="${!each.hasPatientById(param.patientId)}" class="text-decoration-none" th:attr="data-doctor-assign=${each.id}">
                                    <img width="24" class="mb-1" src="../../static/svg/accept.svg" th:src="@{/svg/accept.svg}" alt="Назначить" />
                                </a>
                                <a href="#" th:if="${each.hasPatientById(param.patientId)}" class="text-decoration-none" th:attr="data-doctor-remove=${each.id}">
                                    <img width="24" class="mb-1" src="../../static/svg/decline.svg" th:src="@{/svg/decline.svg}" alt="Открепить" />
                                </a>
                            </span>
                            <span th:if="${each.isNotActive}" class="text-danger text-lowercase fs-6" th:text="${each.currentInactivity.get.shortInactivityMessage}">На больничном</span>
                        </p>
                        <p class="fs-5 mb-1" th:text="${each.userInformation.phoneNumber}">+7 (912) 123-90-56</p>
                        <p class="fs-5 mb-1"><span th:text="${each.role.alias}">Врач</span><span th:if="${each.isHospitalEmployee}" th:text="': ' + ${each.employeeInformation.post}" class="text-lowercase">Врач-кардиолог</span></p>
                        <p th:if="${currentUser.isAdministrator && each.isActive}" class="fs-5 mb-1">
                            <span th:if="${each.isDoctor}">
                                <span th:if="${each.hasPatients}" class="text-success">Сейчас пациентов: <span th:text="${each.patientsCount}">5</span></span>
                                <span th:if="${each.hasNoPatients}" class="text-danger">Не закреплён ни за одним пациентом</span>
                            </span>
                            <span th:if="${each.isPatient}">
                                <span th:if="${each.hasDoctor}" class="text-success">Закреплён за врачом</span>
                                <span th:if="${each.hasNoDoctor}" class="text-danger">Не закреплён за врачом</span>
                            </span>
                        </p>
                    </div>
                    <hr class="mb-0 mt-4" th:if="${!status.last}" />
                </div>
            </div>
            <!---->
            <div class="row" th:if="${users.empty}" id="empty-users-message">
                <div class="col-12">
                    <div th:text="${emptyUsersListMessage}" class="text-secondary text-center fst-italic fs-2">Список пользователей пуст</div>
                </div>
            </div>
            <!---->
            <div th:replace="~{/fragments/selection/pagination :: pagination}"></div>
            <!---->
        </div>
        <!---->
        <div th:replace="${param.patientId != null && currentUser.isAdministrator} ? ~{/fragments/modal/success-modal :: success-modal} : ~{}"></div>
        <div th:replace="${param.patientId != null && currentUser.isAdministrator} ? ~{/fragments/modal/error-modal :: error-modal} : ~{}"></div>
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../static/js/selection/filtration.js" th:src="@{/js/selection/filtration.js}"></script>
        <script src="../../static/js/selection/pagination.js" th:src="@{/js/selection/pagination.js}"></script>
        <script src="../../static/js/users/users.js" th:src="@{/js/users/users.js}"></script>
        <script src="../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
