<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${user.userInformation.fullName}">Пользователь</title>
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div class="row">
                <div class="col-12">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between text-center">
                        <h1 class="fs-3 m-2 m-md-0">
                            <span th:text="${user.userInformation.fullName}">Казимиров Иван Петрович</span>
                            <a
                                th:if="${!isSelf && (user.isHospitalUser && isCurrentUserHospitalUserFromSameHospital || user.isMainAdministrator && isCurrentUserAdministrator)}"
                                href="#"
                                th:href="@{/messages/__${user.userInformation.id}__}"
                                class="text-decoration-none"
                            >
                                <img width="24" src="../../static/svg/message.svg" th:src="@{/svg/message.svg}" alt="Сообщение" />
                            </a>
                        </h1>
                        <h2 th:text="${user.role.alias}" class="fs-4 m-2 m-md-0">Врач</h2>
                    </div>
                </div>
            </div>
            <hr class="my-5" />
            <!---->
            <div class="row mb-5" th:if="${user.isHospitalUser}">
                <div class="col-12">
                    <h3 class="fs-4">Медицинское учреждение</h3>
                    <p class="word-wrap mb-0">
                        <a id="info-hospital" href="#" th:href="@{/hospitals/__${user.hospital.id}__}" th:text="${user.hospital.name}" class="text-secondary">Национальный медицинский исследовательский центр имени В. А. Алмазова</a>
                    </p>
                </div>
            </div>
            <!---->
            <div class="row mb-5" th:if="${user.isHospitalEmployee}">
                <div class="col-12">
                    <h3 class="fs-4">
                        Рабочая информация
                        <a href="#" th:if="${isSelf || isCurrentUserAdminFromSameHospital}" data-bs-toggle="modal" data-bs-target="#employee-info-editing-modal" class="text-decoration-none">
                            <img width="20" src="../../static/svg/edit.svg" th:src="@{/svg/edit.svg}" alt="Редактировать" />
                        </a>
                    </h3>
                    <p class="mb-0">Должность: <span id="info-post" th:text="${user.employeeInformation.post}" class="text-lowercase">Врач-кардиолог 3-го ранга</span></p>
                </div>
            </div>
            <!---->
            <div class="row mb-5">
                <div class="col-12">
                    <h3 class="fs-4">
                        Общая информация
                        <a href="#" th:if="${isSelf || isCurrentUserAdminFromSameHospital}" data-bs-toggle="modal" data-bs-target="#user-info-editing-modal" class="text-decoration-none">
                            <img width="20" src="../../static/svg/edit.svg" th:src="@{/svg/edit.svg}" alt="Редактировать" />
                        </a>
                    </h3>
                    <p id="info-full-name" class="mb-1" th:text="'ФИО: ' + ${user.userInformation.fullName}">ФИО: Иванов Казимир Петрович</p>
                    <p id="info-phone-number" th:text="'Телефон: ' + ${user.userInformation.phoneNumber}" th:classappend="${user.userInformation.gender == null && user.userInformation.birthdate == null} ? 'mb-0' : 'mb-1'">Телефон: +7 (121) 916-09-91</p>
                    <p id="info-gender" th:if="${user.userInformation.gender != null}" th:classappend="${user.userInformation.birthdate == null} ? 'mb-0' : 'mb-1'">
                        Пол: <span th:text="${user.userInformation.gender.alias}" class="text-lowercase"></span>
                    </p>
                    <p id="info-birthdate" class="mb-0" th:if="${user.userInformation.birthdate != null}" th:text="'Дата рождения: ' + ${user.userInformation.formattedBirthdate}">Дата рождения: 18-01-1981</p>
                </div>
            </div>
            <!---->
            <div class="row mb-5" th:if="${isSelf}">
                <div class="col-12">
                    <h3 class="fs-4">
                        Логин-информация
                        <a href="#" data-bs-toggle="modal" data-bs-target="#login-info-editing-modal" class="text-decoration-none">
                            <img width="20" src="../../static/svg/edit.svg" th:src="@{/svg/edit.svg}" alt="Редактировать" />
                        </a>
                    </h3>
                    <p id="info-email" class="mb-1" th:text="'Почта: ' + ${user.userSecurityInformation.email}">Почта: some@exampleMail</p>
                    <p id="info-password" class="mb-0">Пароль: ••••••••••••</p>
                </div>
            </div>
            <!---->
            <div class="row" th:classappend="${user.isDoctor || user.isPatient} ? 'mb-5'">
                <div class="col-12">
                    <h3 class="fs-4">
                        Активность
                        <a
                            th:if="${user.isActive && (user.isHospitalEmployee && isCurrentUserAdminFromSameHospital || user.isPatient && isCurrentUserOwnDoctor)}"
                            href="#"
                            data-bs-toggle="modal"
                            th:attr="data-bs-target=${target}"
                            class="text-decoration-none"
                        >
                            <img width="20" src="../../static/svg/edit.svg" th:src="@{/svg/edit.svg}" alt="Редактировать" />
                        </a>
                    </h3>
                    <p id="info-activity" th:text="${user.activityMessage}" class="text-success mb-0">Активен</p>
                </div>
            </div>
            <!---->
            <div class="row" th:if="${user.isDoctor && !isCurrentUserMainAdministrator}">
                <div class="col-12">
                    <h3 class="fs-4">Пациенты</h3>
                    <p th:if="${user.hasPatients}" class="mb-1">
                        <span th:if="${isSelf}">Сейчас за вами закреплено пациентов: </span>
                        <span th:if="${!isSelf}">Сейчас за этим врачом закреплено пациентов: </span>
                        <span th:text="${user.patientsCount}">5</span>
                    </p>
                    <p th:if="${user.hasPatients}" class="mb-0">
                        <a href="#" th:href="@{/doctors/__${user.id}__/patients}" class="text-secondary">Перейти к списку пациентов</a>
                    </p>
                    <p th:if="${user.hasNoPatients}" class="text-danger mb-0">
                        <span th:if="${isSelf}">Сейчас у вас нет никаких пациентов</span>
                        <span th:if="${!isSelf}">Сейчас у этого врача нет никаких пациентов</span>
                    </p>
                </div>
            </div>
            <!---->
            <div class="row mb-5" th:if="${user.isPatient && !isCurrentUserMainAdministrator}">
                <div class="col-12">
                    <h3 class="fs-4">
                        Лечащий врач
                        <a id="doctor-editing" th:if="${isCurrentUserAdminFromSameHospital}" href="#" class="text-decoration-none">
                            <img width="20" src="../../static/svg/edit.svg" th:src="@{/svg/edit.svg}" alt="Редактировать" />
                        </a>
                    </h3>
                    <p th:if="${user.hasDoctor}" class="mb-0">
                        <a href="#" th:href="@{/doctors/__${user.doctor.id}__}" th:text="${user.doctor.userInformation.fullName}" class="text-secondary">Дачников Пётр Аркадьевич</a>
                        <span th:if="${isCurrentUserOwnDoctor}" class="fst-italic">(вы)</span>
                    </p>
                    <p th:if="${user.hasNoDoctor}" class="text-danger mb-0">
                        <span th:if="${isSelf}">Сейчас вы не закреплены ни за одним врачом</span>
                        <span th:if="${!isSelf}">Сейчас этот пациент не закреплён ни за одним врачом</span>
                    </p>
                </div>
            </div>
            <!---->
            <div class="row mb-5" th:if="${user.isPatient && (isSelf || isCurrentUserOwnDoctor)}">
                <div class="col-12">
                    <h3 class="fs-4">Показатели</h3>
                    <p class="mb-0"><a href="#" th:href="@{/patients/__${user.id}__/indicators}" class="text-secondary">Перейти к навигации по показателям</a></p>
                </div>
            </div>
            <!---->
            <div class="row" th:if="${user.isPatient}">
                <div class="col-12">
                    <h3 class="fs-4">
                        Награды
                        <a href="#" th:href="@{/achievements}" class="text-decoration-none">
                            <img width="20" src="../../static/svg/info.svg" th:src="@{/svg/info.svg}" alt="Информация" />
                        </a>
                    </h3>
                    <p class="mb-1">
                        Всего наград:
                        <span th:text="${user.achievementsCount}">12</span>
                    </p>
                    <p class="mb-0"><a href="#" th:href="@{/patients/__${user.id}__/achievements}" class="text-secondary">Перейти к наградам</a></p>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/users/modal/employee-info-editing-modal :: employee-info-editing-modal}" th:if="${isHospitalEmployee && isNonLoginInfoEditingEnabled}"></div>
        <div th:replace="~{/users/modal/user-info-editing-modal :: user-info-editing-modal}" th:if="${isNonLoginInfoEditingEnabled}"></div>
        <div th:replace="~{/users/modal/login-info-editing-modal :: login-info-editing-modal}" th:if="${isSelf}"></div>
        <div th:replace="~{/users/modal/inactivity-selection-modal :: inactivity-selection-modal}" th:if="${isCurrentUserAdminFromSameHospital}"></div>
        <div th:replace="~{/users/modal/vacation-modal :: vacation-modal}" th:if="${isHospitalEmployee && isCurrentUserAdminFromSameHospital}"></div>
        <div th:replace="~{/users/modal/sick-leave-modal :: sick-leave-modal}" th:if="${isHospitalEmployee && isCurrentUserAdminFromSameHospital}"></div>
        <div th:replace="~{/users/modal/dismissal-modal :: dismissal-modal}" th:if="${isHospitalEmployee && isCurrentUserAdminFromSameHospital}"></div>
        <div th:replace="~{/users/modal/patient-inactivity-modal :: patient-inactivity-modal}" th:if="${isPatient && isCurrentUserOwnDoctor}"></div>
        <div th:replace="~{/fragments/modal/error-modal :: error-modal}"></div>
        <div th:replace="~{/fragments/modal/success-modal :: success-modal}"></div>
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../static/js/users/user.js" th:src="@{/js/users/user.js}"></script>
        <script src="../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
    </body>
</html>
