<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${title}">Пользователи</title>
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div class="row text-center mb-5" th:if="${!users.empty}">
                <div class="col-12">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                        <h1 class="fs-3 m-2 m-md-0" th:text="${usersListDescription}"></h1>
                        <div class="m-2 m-md-0">
                            <button class="btn btn-lg btn-primary">Фильтр</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row" th:each="each, status : ${users}" th:classappend="${!status.last} ? 'mb-3'">
                <div class="col-12" th:classappend="${!status.last} ? 'mb-3'">
                    <div class="text-start">
                        <p class="fs-4 word-wrap mb-0">
                            <abbr th:title="${each.isEmployee} ? ${each.employeeInformation.post} + ' медицинского учреждения &quot;' + ${each.hospital.name} + '&quot;' : ${each.role.alias}" title="Врач-пульмонолог" class="text-decoration-none">
                                <svg class="mb-2" width="28px" height="28px" viewBox="0 -8 72 72" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: #010002;
                                            }
                                        </style>
                                    </defs>
                                    <path
                                        class="cls-1"
                                        d="M61.39,49.89A25.7,25.7,0,0,0,47.86,30.44c-3,3-7.23,19.66-11.86,19.66S27.18,33.48,24.14,30.44A25.7,25.7,0,0,0,10.61,49.89,1.71,1.71,0,0,0,11,51.27a2.15,2.15,0,0,0,1.6.7H59.37a2.15,2.15,0,0,0,1.6-.7A1.71,1.71,0,0,0,61.39,49.89ZM54,43.44H47.24V42H54Z"
                                    />
                                    <path class="cls-1" d="M25.47,28.6c.27.28.56.56.85.82a14.45,14.45,0,0,0,19.36,0c.29-.26.58-.54.85-.82s.54-.58.79-.89a14.55,14.55,0,1,0-22.64,0C24.93,28,25.19,28.31,25.47,28.6Z" />
                                    <path class="cls-1" d="M37.52,36.55a.4.4,0,0,1-.4.4H34.88a.4.4,0,0,1-.4-.4V34.3a.39.39,0,0,1,.4-.39h2.24a.39.39,0,0,1,.4.39Z" />
                                    <polyline class="cls-1" points="34.35 37.87 37.56 37.87 39.08 50.62 32.81 50.62" />
                                </svg>
                            </abbr>
                            <span
                                ><a href="#" th:href="@{/users/__${each.id}__}" th:text="${each.userInformation.lastname} + ' ' + ${each.userInformation.name} + ' ' + ${each.userInformation.patronymic}" class="text-decoration-none text-secondary"
                                    >Козлов Геннадий Викторович</a
                                ></span
                            >
                        </p>
                        <p class="fs-5 mb-1" th:text="${each.userInformation.phoneNumber}">+7 (912) 123-90-56</p>
                        <p class="fs-5 mb-0" th:text="${each.role.alias}">Врач</p>
                    </div>
                </div>
                <hr class="mb-0" th:if="${!status.last}" />
            </div>
            <!---->
            <div class="row" th:if="${users.empty}" id="empty-users-message">
                <div class="col-12">
                    <div th:text="${emptyUsersListMessage}" class="text-secondary text-center fst-italic fs-2">Список пользователей пуст</div>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
