<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div th:fragment="login-info-editing-modal" class="modal fade" id="login-info-editing-modal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-secondary">
                        <h1 class="modal-title fs-4" id="login-info-editing-modal-title">Редактирование логин-информации</h1>
                        <button id="login-info-editing-modal-close-1" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body fs-5" id="login-info-editing-modal-text">
                        <div class="visually-hidden mb-3" id="login-info-editing-error">
                            <div class="text-center fs-5 danger-block rounded p-2">
                                <span class="my-auto">Заполняемый текст</span>
                            </div>
                        </div>
                        <form id="login-info-editing-form" action="#" class="border rounded text-secondary fs-5 p-3">
                            <input type="hidden" name="id" th:value="${user.userSecurityInformation.id}" />
                            <div class="mb-3">
                                <label for="email" class="form-label">Почта</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="example@mail.com" th:value="${user.userSecurityInformation.email}" />
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-between mb-3">
                                <p class="mb-0">Изменить пароль?</p>
                                <div>
                                    <label for="change-password" class="form-check-label"> Да </label>
                                    <input type="checkbox" name="change-password" id="change-password" class="form-check-input" />
                                </div>
                            </div>
                            <div id="password-block" class="visually-hidden mb-4">
                                <label for="password" class="form-label">Пароль</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="@strong!Password123@" />
                            </div>
                            <button id="login-info-editing-submit" type="submit" class="btn btn-primary mb-2">Сохранить изменения</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="login-info-editing-modal-close-2" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
