<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div th:fragment="patient-inactivity-modal" class="modal fade" id="patient-inactivity-modal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-secondary">
                        <h1 class="modal-title fs-4" id="patient-inactivity-modal-title">Перевод в неактивное состояние</h1>
                        <button id="patient-inactivity-modal-close-1" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body fs-5" id="patient-inactivity-modal-text">
                        <div class="visually-hidden mb-3" id="patient-inactivity-error">
                            <div class="text-center fs-5 danger-block rounded p-2">
                                <span class="my-auto">Заполняемый текст</span>
                            </div>
                        </div>
                        <form id="patient-inactivity-form" action="#" th:action="@{/rest/inactivity/add/patient-inactivity}" method="post" class="border rounded text-secondary fs-5 p-3">
                            <input type="hidden" name="patient-inactivity-to-whom-id" th:value="${user.id}" />
                            <div class="mb-3">
                                <label for="patient-inactivity-patient" class="form-label">Пациент</label>
                                <input type="text" name="patient-inactivity-patient" id="patient-inactivity-patient" class="form-control" th:value="${user.userInformation.fullName}" disabled />
                            </div>
                            <div class="mb-4">
                                <label for="patient-inactivity-comment" class="form-label">Комментарий</label>
                                <textarea
                                    name="patient-inactivity-comment"
                                    id="patient-inactivity-comment"
                                    class="form-control"
                                    rows="3"
                                    placeholder="Можете написать здесь какой-нибудь небольшой комментарий по поводу перевода пациента в неактивное состояние"
                                ></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Отправить</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="patient-inactivity-modal-close-2" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
