:root {
    --my-bg-form: #f2f3f5;
    --my-bg-indicator: #f2f3f5;
    --my-bg-filter: #f2f3f5;
    --my-bg-contacts-area: #f2f3f5;
    --my-bg-messages-area: url("/svg/pattern.svg");
    --my-bg-message-author: #f2f5f8;
    --my-bg-message-recipient: #f1f9ef;
}

.bg-main {
    background-color: var(--bs-gray-100);
}

.bg-form {
    background-color: var(--my-bg-form);
}

.bg-indicator {
    background-color: var(--my-bg-indicator);
}

.href-success {
    color: var(--bs-success-text-emphasis);
}

.href-danger {
    color: var(--bs-danger-text-emphasis);
}

.modal-overriden-danger {
    --bs-modal-bg: var(--bs-danger-bg-subtle);
    --bs-modal-color: var(--bs-danger-text-emphasis);
    --bs-modal-link-color: var(--bs-danger-text-emphasis);
    --bs-modal-border-color: var(--bs-danger-border-subtle);
    --bs-modal-header-border-color: var(--bs-danger-border-subtle);
    --bs-modal-footer-border-color: var(--bs-danger-border-subtle);
}

.modal-overriden-success {
    --bs-modal-bg: var(--bs-success-bg-subtle);
    --bs-modal-color: var(--bs-success-text-emphasis);
    --bs-modal-link-color: var(--bs-success-text-emphasis);
    --bs-modal-border-color: var(--bs-success-border-subtle);
    --bs-modal-header-border-color: var(--bs-success-border-subtle);
    --bs-modal-footer-border-color: var(--bs-success-border-subtle);
}

.pagination-overriden {
    margin-bottom: 0 !important;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.info-block {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-primary-text-emphasis);
    border-color: var(--bs-primary-border-subtle);
}

.danger-block {
    background-color: var(--bs-danger-bg-subtle);
    color: var(--bs-danger-text-emphasis);
    border-color: var(--bs-danger-border-subtle);
}

.filter {
    background-color: var(--my-bg-filter);
    border-color: var(--bs-gray-300) !important;
    border: thin solid;
}

.break-all {
    word-wrap: break-word;
    word-break: break-all;
}

form,
.filter {
    hr {
        margin-left: -16px;
        margin-right: -16px;
    }
}

.messenger-area {
    /*min-height: 65vh;
    max-height: 65vh;*/
}

.messenger-area::-webkit-scrollbar {
    width: 0px;
}

.messenger-contacts-area {
    min-height: 65vh;
    max-height: 65vh;
    overflow-y: auto;
    background-color: var(--my-bg-contacts-area);
    hr {
        margin-left: -9px;
        margin-right: -9px;
    }
}

.messenger-messages-area {
    min-height: 65vh;
    max-height: 65vh;
    overflow-y: auto;
    background-image: var(--my-bg-messages-area);
}

.messenger-contacts-area::-webkit-scrollbar {
    width: 0px;
}

.messenger-messages-area::-webkit-scrollbar {
    width: 0px;
}

/*.messenger {
    max-height: 80vh;
    overflow-y: auto;
}

.messenger-form {
    background-image: url("/svg/pattern.svg");
}*/

/*.messenger::-webkit-scrollbar {
    width: 0px;
}

.byb {
    hr {
        margin-left: -9px;
        margin-right: -9px;
    }
}*/

.bg-message-author {
    background-color: var(--my-bg-message-author);
}

.bg-message-recipient {
    background-color: var(--my-bg-message-recipient);
}
