.bg-main {
    background-color: var(--bs-gray-100);
}

.bg-form {
    background-color: #f2f3f5;
}

.bg-indicator-card {
    background-color: #f2f3f5;
}

.modal-overriden-danger {
    --bs-modal-bg: var(--bs-danger-bg-subtle);
    --bs-modal-color: var(--bs-danger-text-emphasis);
    --bs-modal-link-color: var(--bs-danger-text-emphasis);
    --bs-modal-border-color: var(--bs-danger-border-subtle);
    --bs-modal-header-border-color: var(--bs-danger-border-subtle);
    --bs-modal-footer-border-color: var(--bs-danger-border-subtle);
}

.href-danger {
    color: var(--bs-danger-text-emphasis);
}

.modal-overriden-success {
    --bs-modal-bg: var(--bs-success-bg-subtle);
    --bs-modal-color: var(--bs-success-text-emphasis);
    --bs-modal-link-color: var(--bs-success-text-emphasis);
    --bs-modal-border-color: var(--bs-success-border-subtle);
    --bs-modal-header-border-color: var(--bs-success-border-subtle);
    --bs-modal-footer-border-color: var(--bs-success-border-subtle);
}

.href-success {
    color: var(--bs-success-text-emphasis);
}

.pagination-overriden {
    margin-bottom: 0 !important;
}

.bg-indicator-card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.info-block {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-primary-text-emphasis);
    border-color: var(--bs-primary-border-subtle);
}

.danger-block {
    background-color: var(--bs-danger-bg-subtle);
    color: var(--bs-danger-text-emphasis);
    border-color: var(--bs-danger-border-subtle);
}

.filter {
    background-color: #f2f3f5;
    border-color: var(--bs-gray-300) !important;
    border: thin solid;
}

form,
.filter {
    hr {
        margin-left: -16px;
        margin-right: -16px;
    }
}

.messenger-contacts-block {
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #e1eff5;
    hr {
        margin-left: -9px;
        margin-right: -9px;
    }
}

.messenger-contacts-block::-webkit-scrollbar {
    width: 0px;
}

.messenger-messages-block {
    min-height: 80vh;
    max-height: 80vh;
    background-image: url("/svg/pattern.svg");
}

.messenger-messages-list-block {
    overflow-y: auto;
}

.messenger-messages-list-block::-webkit-scrollbar {
    width: 0px;
}

.bg-message-author {
    background-color: #f2f5f8;
}

.bg-message-recipient {
    background-color: #f1f9ef;
}

.bg-selected-recipient {
    background-color: #f2f3f5;
}
