<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${errorTitle}">Заголовок ошибки</title>
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-center bg-main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 col-lg-6 text-center mx-auto">
                    <div class="text-secondary p-4">
                        <div>
                            <h1 th:text="${errorTitle}">Заголовок ошибки</h1>
                        </div>
                        <hr />
                        <div class="my-2">
                            <p th:text="${errorText}" class="word-wrap fs-3">
                                ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки ТекстОшибки
                                ТекстОшибки ТекстОшибки
                            </p>
                        </div>
                        <hr />
                        <div>
                            <p class="fs-3">
                                <a href="#" th:href="@{/}" class="text-secondary">На главную</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
