<!DOCTYPE html>

<html
    lang="en"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Регистрация</title>
        <link
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <!--<link
            href="../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
            rel="apple-touch-icon"
            sizes="180x180"
        />
        <link
            href="../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
            rel="icon"
            type="image/png"
            sizes="32x32"
        />
        <link
            href="../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
            rel="icon"
            type="image/png"
            sizes="16x16"
        />-->
    </head>

    <body class="min-vh-100 d-flex flex-column justify-content-center">
        <div sec:authorize="!isAuthenticated()" class="container-fluid bg-dark">
            <div class="row">
                <div class="col-12 mx-auto text-white text-center">
                    ЗАГОЛОВОК
                </div>
                <div class="col-12 mx-auto text-white text-center">
                    ЗАГОЛОВОК
                </div>
                <div class="col-12 mx-auto text-white text-center">
                    ЗАГОЛОВОК
                </div>
            </div>
        </div>
        <div
            sec:authorize="isAuthenticated()"
            th:insert="@{${header1}} :: ${header}"
            class="container"
        ></div>
        <div class="container mb-5">
            <div class="row text-center mb-5">
                <h1>Сбор показателей</h1>
            </div>
            <div
                th:if="${error}"
                th:text="${error}"
                class="text-red text-center mb-5"
            ></div>
            <div class="row">
                <div
                    class="col-6 text-white text-center bg-dark rounded p-3 mx-auto"
                >
                    <form
                        action="#"
                        th:action="@{/examination/processing}"
                        method="post"
                        th:object="${examination}"
                        enctype="multipart/form-data"
                    >
                        <input type="hidden" th:field="*{id}" />
                        <div class="mb-2">
                            <label for="breathlessness" class="form-label"
                                >Одышка</label
                            >
                            <input
                                id="breathlessness"
                                name="breathlessness"
                                type="text"
                                class="form-control"
                                th:value="${email ?: ''}"
                                placeholder="example@yandex.ru"
                                th:field="*{breathlessness}"
                            />
                        </div>
                        <div class="mb-2">
                            <label for="fatigue" class="form-label"
                                >Вялость</label
                            >
                            <input
                                id="fatigue"
                                name="fatigue"
                                type="text"
                                class="form-control"
                                th:value="${email ?: ''}"
                                placeholder="example@yandex.ru"
                                th:field="*{fatigue}"
                            />
                        </div>
                        <div class="mb-2">
                            <label for="weakness" class="form-label"
                                >Слабость</label
                            >
                            <input
                                id="weakness"
                                name="weakness"
                                type="text"
                                class="form-control"
                                th:value="${email ?: ''}"
                                placeholder="example@yandex.ru"
                                th:field="*{weakness}"
                            />
                        </div>
                        <div class="mb-2">
                            <label for="vertigo" class="form-label"
                                >Головокружение (1958)</label
                            >
                            <input
                                id="vertigo"
                                name="vertigo"
                                type="text"
                                class="form-control"
                                th:value="${email ?: ''}"
                                placeholder="example@yandex.ru"
                                th:field="*{vertigo}"
                            />
                        </div>
                        <div class="mb-2">
                            <label for="edema" class="form-label"
                                >Отёки нижних конечностей</label
                            >
                            <input
                                id="edema"
                                name="edema"
                                type="text"
                                class="form-control"
                                th:value="${email ?: ''}"
                                placeholder="example@yandex.ru"
                                th:field="*{edema}"
                            />
                        </div>
                        <div class="mb-2">
                            <label for="hepatomegaly" class="form-label"
                                >Гепатомегалия</label
                            >
                            <input
                                id="hepatomegaly"
                                name="hepatomegaly"
                                type="text"
                                class="form-control"
                                th:value="${email ?: ''}"
                                placeholder="example@yandex.ru"
                                th:field="*{hepatomegaly}"
                            />
                        </div>
                        <div class="mb-2">
                            <p>Анализ крови</p>
                            <input type="file" name="bloodTest" />
                        </div>
                        <div class="mb-2">
                            <p>Электрокардиография</p>
                            <input type="file" name="electrocardiography" />
                        </div>
                        <div class="mb-2">
                            <p>Радиография</p>
                            <input type="file" name="radiography" />
                        </div>
                        <div class="mb-2">
                            <p>Эхокардиография</p>
                            <input type="file" name="echocardiography" />
                        </div>
                        <div class="mb-2">
                            <p>Томография органов грудной клетки</p>
                            <input type="file" name="chestTomography" />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">
                                Отправить показатели
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col-12 mx-auto text-white text-center">ФУТЕР</div>
                <div class="col-12 mx-auto text-white text-center">ФУТЕР</div>
                <div class="col-12 mx-auto text-white text-center">ФУТЕР</div>
            </div>
        </div>
    </body>
</html>
