<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Главная</title>
        <link
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <!--<link
            href="../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
            rel="apple-touch-icon"
            sizes="180x180"
        />
        <link
            href="../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
            rel="icon"
            type="image/png"
            sizes="32x32"
        />
        <link
            href="../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
            rel="icon"
            type="image/png"
            sizes="16x16"
        />-->
    </head>

    <body class="min-vh-100 d-flex flex-column justify-content-center">
        <div class="container">
            <div class="row text-white text-center bg-dark rounded p-5 mb-5">
                <p>
                    Войдите в аккаунт или зарегистрируйтесь. Если ваше
                    медицинское учреждение уже использует приложение, ожидайте
                    выдачи кода для регистрации.
                </p>
                <p>
                    Для регистрации приложения обращайтесь к сотруднику
                    департамента цифрового развития и информационных технологий,
                    управляющего приложением. Ниже приведены его контакты.
                </p>
                <div>
                    <ul>
                        <li>ВК: ссылка на ВК</li>
                        <li>Telegram: ссылка на Telegram</li>
                        <li>WhatsApp: ссылка на WhatsApp</li>
                        <li>Почта: название почты</li>
                        <li>Телефон: номер телефона</li>
                    </ul>
                </div>
            </div>
            <div class="row text-white bg-dark rounded py-2">
                <div>
                    <a
                        href="#"
                        th:href="@{/auth/login}"
                        class="btn btn-primary m-1"
                        >Войти</a
                    >
                </div>
                <div>
                    <a
                        href="#"
                        th:href="@{/auth/registration}"
                        class="btn btn-warning m-1"
                        >Зарегистрироваться</a
                    >
                </div>
            </div>
        </div>
    </body>
</html>
