<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Вход</title>
        <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-center bg-main">
        <div class="container">
            <div th:if="${param.logout}" class="row mb-5">
                <div class="col-12 col-md-9 col-lg-6 mx-auto">
                    <div class="text-center fs-4 info-block rounded h-100">
                        <p class="mb-1 my-auto">Вы вышли из аккаунта</p>
                    </div>
                </div>
            </div>
            <div th:if="${param.error}" class="row mb-5">
                <div class="col-12 col-md-9 col-lg-6 mx-auto">
                    <div class="text-center fs-4 danger-block rounded h-100">
                        <p class="mb-1 my-auto">Неверный логин или пароль</p>
                    </div>
                </div>
            </div>
            <div th:if="${param.registered}" class="row mb-5">
                <div class="col-12 col-md-9 col-lg-6 mx-auto">
                    <div class="text-center fs-4 success-block rounded h-100">
                        <p class="mb-1 my-auto">Вы успешно зарегистрировались. Войдите в свой аккаунт.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-9 col-lg-6 mx-auto">
                    <form action="#" th:action="@{/login/processing}" method="post" class="border rounded p-3 bg-gray-200">
                        <h2 class="text-secondary fs-4">Вход</h2>
                        <hr />
                        <label for="email" class="form-label text-secondary fs-5">Почта</label>
                        <input type="email" name="email" id="email" class="form-control mb-2" />
                        <label for="password" class="form-label text-secondary fs-5">Пароль</label>
                        <input type="password" name="password" id="password" class="form-control mb-4" />
                        <hr />
                        <button type="submit" class="text-center btn btn-lg btn-primary mt-1">Войти</button>
                    </form>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-12 col-md-9 col-lg-6 mx-auto">
                    <a href="#" th:href="@{/}" class="text-secondary fs-4">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </body>
</html>
