<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Вход</title>
        <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{/fragments/headers/anon-header :: anon-header}"></div>

        <div class="container">
            <div th:if="${param.logout}" class="row mb-5">
                <div class="col-12 col-md-9 col-lg-6 mx-auto">
                    <div class="text-center fs-4 info-block rounded h-100">
                        <p class="mb-1 my-auto">Вы вышли из аккаунта</p>
                    </div>
                </div>
            </div>

            <div th:if="${param.error}" class="row mb-5">
                <div class="col-12 col-md-9 col-lg-6 mx-auto">
                    <div class="text-center fs-4 danger-block rounded h-100">
                        <p class="mb-1 my-auto">Неверный логин или пароль</p>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-9 col-lg-6 mx-auto">
                    <form action="#" th:action="@{/login/processing}" method="post" class="bg-dark border rounded text-gray-300 fs-5 p-3">
                        <h2 class="fs-4">Вход</h2>
                        <hr class="text-white" />
                        <div class="mb-3">
                            <label for="email" class="form-label">Почта</label>
                            <input type="email" name="email" id="email" class="form-control" />
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" name="password" id="password" class="form-control" />
                        </div>
                        <hr class="text-white" />
                        <button type="submit" class="text-center btn btn-lg btn-primary my-1">Войти</button>
                    </form>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-12 col-md-9 col-lg-6 mx-auto">
                    <a href="#" th:href="@{/}" class="text-dark fs-4">Вернуться на главную</a>
                </div>
            </div>
        </div>

        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
    </body>
</html>
