<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Главная</title>
        <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div class="row text-center mb-2">
                <div class="col-12">
                    <h1 class="fs-2">Приложение для мониторинга состояния пациентов с лёгочной артериальной гипертензией</h1>
                </div>
            </div>
            <!---->
            <div class="row mb-5">
                <div class="col-12">
                    <div class="fs-5">
                        <p>Если вы являетесь официальным представителем медицинского учреждения и хотите, чтобы оно могло пользоваться приложением, свяжитесь с главным администратором.</p>
                        <p>Если вы уже согласовали с главным администратором регистрацию вашего медицинского учреждения в приложении, перейдите к специальной форме, нажав на кнопку <span class="fw-semibold">"Подать заявку"</span>, и заполните её.</p>
                        <p>Если вы уже подали заявку, и главный администратор одобрил её, то пользователь с указанной в заявке почтой должен зарегистрироваться в приложении в течение срока, на который ему был выдан код регистрации.</p>
                        <p>
                            Если вам пришёл код регистрации на почту, нажмите на кнопку <span class="fw-semibold">"Зарегистрироваться"</span>, во всплывающее окно введите полученный код, а затем заполните форму регистрации, введя все необходимые данные.
                        </p>
                        <p>Если вы уже зарегистрированы в приложении, войдите в свой аккаунт, нажав на кнопку <span class="fw-semibold">"Войти"</span> и введя свои логин и пароль.</p>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row text-center mb-3">
                <h2 class="fs-2">Контакты главного администратора</h2>
            </div>
            <!---->
            <div class="row">
                <div class="col-12">
                    <div th:each="each, status : ${contacts}" class="text-start" th:classappend="${!status.last} ? 'mb-2'">
                        <h4 class="text-secondary" th:text="${each.description}">ВКонтакте</h4>
                        <p class="text-dark text-break mb-2" th:text="${each.contact}">bttps://some/very/very/very/very/very/long/link</p>
                        <hr th:if="${!status.last}" />
                    </div>
                </div>
            </div>
            <!---->
            <div class="row" th:if="${contacts.empty}" id="empty-contacts-message">
                <div class="col-12">
                    <div class="text-secondary text-center fst-italic fs-4">К сожалению, список контактов главного администратора пока пуст</div>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/modal/code-input-modal :: code-input-modal}"></div>
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../static/js/registration/code-check.js" th:src="@{/js/registration/code-check.js}"></script>
        <script src="../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
