<!DOCTYPE html>

<html
    lang="en"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Главная</title>
        <link
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <!--<link
            href="../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
            rel="apple-touch-icon"
            sizes="180x180"
        />
        <link
            href="../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
            rel="icon"
            type="image/png"
            sizes="32x32"
        />
        <link
            href="../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
            rel="icon"
            type="image/png"
            sizes="16x16"
        />-->
    </head>

    <body
        class="min-vh-100 d-flex flex-column align-items-center justify-content-between"
    >
        <div sec:authorize="!isAuthenticated()" class="container-fluid bg-dark">
            <div class="row">
                <div class="col-12 mx-auto text-white text-center">
                    ЗАГОЛОВОК
                </div>
                <div class="col-12 mx-auto text-white text-center">
                    ЗАГОЛОВОК
                </div>
                <div class="col-12 mx-auto text-white text-center">
                    ЗАГОЛОВОК
                </div>
            </div>
        </div>
        <div
            sec:authorize="isAuthenticated()"
            th:insert="@{${header1}} :: ${header}"
            class="container"
        ></div>
        <div class="container mx-2">
            <div class="row text-white text-center bg-dark rounded p-5 mb-5">
                <div>
                    <div
                        class="d-flex flex-row justify-content-between text-white text-center"
                        th:each="each : ${contacts}"
                    >
                        <div
                            th:text="${each.description} + ': ' + ${each.contact}"
                        ></div>
                        <div>
                            <form
                                action="#"
                                th:action="@{/main-page-contacts/edit/__${each.id}__}"
                                method="post"
                            >
                                <!--<input type="hidden" th:value="${each.id}" />-->
                                <button type="submit" class="btn-btn-success">
                                    edit
                                </button>
                            </form>
                        </div>
                        <div>
                            <form
                                action="#"
                                th:action="@{/main-page-contacts/delete/__${each.id}__}"
                                method="post"
                            >
                                <!--<input type="hidden" th:value="${each.id}" />-->
                                <button type="submit" class="btn-btn-danged">
                                    delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-white text-center bg-dark rounded p-3">
                <form
                    action="#"
                    th:action="@{/main-page-contacts/save}"
                    method="post"
                    th:object="${contact}"
                >
                    <input type="hidden" th:field="*{id}" />
                    <div class="mb-2">
                        <label for="contact" class="form-label">Контакт</label>
                        <input
                            id="contact"
                            name="contact"
                            type="text"
                            class="form-control"
                            placeholder="https://google.com"
                            th:field="*{contact}"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label"
                            >Описание</label
                        >
                        <input
                            id="description"
                            name="description"
                            type="text"
                            class="form-control"
                            placeholder="123"
                            th:field="*{description}"
                        />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">
                            Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col-12 mx-auto text-white text-center">ФУТЕР</div>
                <div class="col-12 mx-auto text-white text-center">ФУТЕР</div>
                <div class="col-12 mx-auto text-white text-center">ФУТЕР</div>
            </div>
        </div>
    </body>
</html>
