<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div th:fragment="filtration" class="row">
            <div class="col-12">
                <div id="filter" class="collapse">
                    <div class="filter rounded fs-6 p-3 mb-5">
                        <div class="d-flex flex-row flex-wrap align-items-center justify-content-between">
                            <div class="mb-auto">
                                <div class="m-2 m-lg-0">
                                    <h6 class="fs-5">Фильтрация</h6>
                                    <div class="form-check" th:each="each : ${filtrationProperties}">
                                        <label class="form-check-label" th:for="${each}" th:text="${each.alias}"> Ожидают выдачи кода </label>
                                        <input class="form-check-input" type="radio" name="filtration" th:id="${each}" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-auto">
                                <div class="m-2 m-lg-0">
                                    <h6 class="fs-5">Сортировка</h6>
                                    <div class="form-check" th:each="each : ${sortingProperties}">
                                        <label class="form-check-label" th:for="${each}" th:text="${each.alias}"> Название </label>
                                        <input class="form-check-input" type="radio" name="sorting" th:id="${each}" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-auto">
                                <div class="m-2 m-lg-0">
                                    <h6 class="fs-5">Поиск</h6>
                                    <input class="form-control" type="search" name="searching" placeholder="Найти..." />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <button class="btn btn-primary" id="filter-apply-button">Применить</button>
                            <button class="btn btn-outline-primary" type="button" id="filter-clear-button">Отменить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
