<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header th:fragment="anon-header" class="container-fluid bg-dark">
            <div class="container p-2">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-sm-between">
                    <div class="m-2 my-sm-0">
                        <a href="#" th:href="@{/}">
                            <img src="../../../static/img/main.png" th:src="@{/img/main.png}" alt="Главная" width="56" />
                        </a>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-sm-between m-2 my-sm-0">
                        <a href="#" th:href="@{/login}" class="btn btn-primary m-2">Войти</a>
                        <button type="button" class="btn btn-warning m-2" data-bs-toggle="modal" data-bs-target="#code-input-modal">Зарегистрироваться</button>
                        <a href="#" th:href="@{/hospital-registration/form}" class="btn btn-success m-2">Подать заявку</a>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>
