<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:title="${name}">Развёрнутый анализ крови</title>
        <link href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div class="row fs-5 mb-5">
                <div class="col-12">
                    <h1 class="text-center fs-3 mb-0" th:text="${name}">Развёрнутый анализ крови</h1>
                </div>
            </div>
            <!---->
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post" id="file-form" name="file-form" class="fs-5">
                        <div class="d-flex flex-row mb-1">
                            <div class="flex-grow-1 me-1">
                                <label for="file" class="form-label">Файл </label>
                                <input type="file" name="file" id="file" class="form-control" />
                            </div>
                            <div class="mt-auto ms-1">
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </div>
                        </div>
                        <div>
                            <span class="fs-6">Поддерживаемые форматы: pdf</span>
                        </div>
                        <div>
                            <span class="fs-6">Максимальный размер файла: 10 Мб</span>
                        </div>
                    </form>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/modal/error-modal :: error-modal}"></div>
        <div th:replace="~{/fragments/modal/success-modal :: success-modal}"></div>
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../../static/js/indicators/forms/analysis-file-form.js" th:src="@{/js/indicators/forms/analysis-file-form.js}"></script>
        <script src="../../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
