<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Т6МХ</title>
        <link href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <form action="#" method="post" id="walk-test-form" class="fs-6">
                <!---->
                <div class="row mb-5">
                    <div class="col-12">
                        <h2 class="text-center fs-3 mb-3">Общие результаты</h2>
                        <div class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-lg-between mb-2">
                            <div class="m-1">
                                <h4 class="fs-5">Кислородная поддержка</h4>
                                <div class="form-check form-check-inline" th:each="each : ${trueFalse}">
                                    <label class="form-check-label" th:for="'oxygenSupport' + ${each}" th:text="${each.hasNot}">Нет</label>
                                    <input th:id="'oxygenSupport' + ${each}" type="radio" class="form-check-input" th:value="${each.value}" name="oxygenSupport" />
                                </div>
                            </div>
                            <div class="m-1">
                                <h4 class="fs-5">Вспомогательные устройства для ходьбы</h4>
                                <div class="form-check form-check-inline" th:each="each : ${trueFalse}">
                                    <label class="form-check-label" th:for="'auxiliaryDevices' + ${each}" th:text="${each.hasNot}">Есть</label>
                                    <input th:id="'auxiliaryDevices' + ${each}" type="radio" class="form-check-input" th:value="${each.value}" name="auxiliaryDevices" />
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-lg-between mb-2">
                            <div class="flex-grow-1 m-1">
                                <label for="distance" class="form-label fw-semibold fs-5">Дистанция (м)</label>
                                <input type="number" step="0.01" name="distance" id="distance" class="form-control" placeholder="784.31" />
                            </div>
                            <div class="flex-grow-1 m-1">
                                <label for="numberOfStops" class="form-label fw-semibold fs-5">Количество остановок</label>
                                <input type="number" name="numberOfStops" id="numberOfStops" class="form-control" placeholder="2" />
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="breathlessness" class="form-label fw-semibold fs-5">Одышка по шкале Борга</label>
                            <select name="breathlessness" id="breathlessness" class="form-select">
                                <option th:each="each : ${breathlessness}" th:text="${each.alias}" th:value="${each}">Очень-очень тяжёлая (9)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="row mb-5">
                    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                        <h2 class="text-center fs-4 mb-3">До нагрузки</h2>
                        <div class="mb-3">
                            <label for="upperBefore" class="form-label fw-semibold fs-5">Верхнее давление (мм рт.ст.)</label>
                            <input type="number" name="upperBefore" id="upperBefore" class="form-control" placeholder="120" />
                        </div>
                        <div class="mb-3">
                            <label for="lowerBefore" class="form-label fw-semibold fs-5">Нижнее давление (мм рт.ст.)</label>
                            <input type="number" name="lowerBefore" id="lowerBefore" class="form-control" placeholder="80" />
                        </div>
                        <div class="mb-3">
                            <label for="oxygenPercentageBefore" class="form-label fw-semibold fs-5">Содержание кислорода в крови (%)</label>
                            <input type="number" step="0.01" name="oxygenPercentageBefore" id="oxygenPercentageBefore" class="form-control" placeholder="98.21" />
                        </div>
                        <div>
                            <label for="pulseRateBefore" class="form-label fw-semibold fs-5">Пульс (уд/мин)</label>
                            <input type="number" name="pulseRateBefore" id="pulseRateBefore" class="form-control" placeholder="75" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <h2 class="text-center fs-4 mb-3">После нагрузки</h2>
                        <div class="mb-3">
                            <label for="upperAfter" class="form-label fw-semibold fs-5">Верхнее давление (мм рт.ст.)</label>
                            <input type="number" name="upperAfter" id="upperAfter" class="form-control" placeholder="175" />
                        </div>
                        <div class="mb-3">
                            <label for="lowerAfter" class="form-label fw-semibold fs-5">Нижнее давление (мм рт.ст.)</label>
                            <input type="number" name="lowerAfter" id="lowerAfter" class="form-control" placeholder="105" />
                        </div>
                        <div class="mb-3">
                            <label for="oxygenPercentageAfter" class="form-label fw-semibold fs-5">Содержание кислорода в крови (%)</label>
                            <input type="number" step="0.01" name="oxygenPercentageAfter" id="oxygenPercentageAfter" class="form-control" placeholder="99.34" />
                        </div>
                        <div>
                            <label for="pulseRateAfter" class="form-label fw-semibold fs-5">Пульс (уд/мин)</label>
                            <input type="number" name="pulseRateAfter" id="pulseRateAfter" class="form-control" placeholder="155" />
                        </div>
                    </div>
                </div>
                <!---->
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-lg btn-primary">Отправить</button>
                    </div>
                </div>
                <!---->
            </form>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/modal/error-modal :: error-modal}"></div>
        <div th:replace="~{/fragments/modal/success-modal :: success-modal}"></div>
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../../static/js/indicators/forms/walk-test-form.js" th:src="@{/js/indicators/forms/walk-test-form.js}"></script>
        <script src="../../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
