<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <head th:fragment="indicator-head (pageSelfTitle, pageOtherTitle)">
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title th:if="${isSelf}" th:text="${pageSelfTitle}">Динамика вашего кашля</title>
            <title th:if="${!isSelf}" th:text="${pageOtherTitle}">Динамика кашля пациента "Иванов Степан Петрович"</title>
            <link href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
            <link href="../../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
            <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" th:href="@{https://unpkg.com/gridjs/dist/theme/mermaid.min.css}" rel="stylesheet" />
            <link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
            <link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
            <link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
        </head>
    </body>
</html>
