<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:if="${isSelf}">Динамика вашего Т6МХ</title>
        <title th:if="${!isSelf}" th:text="'Динамика Т6МХ пациента &laquo;' + ${patient.userInformation.fullName} + '&raquo;'">Динамика Т6МХ пациента "Иванов Степан Петрович"</title>
        <link href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div class="row fs-5 mb-5" th:attr="data-patient=${patient.id}">
                <h1 th:if="${isSelf}" class="text-center fs-3 mb-0">Динамика вашего Т6МХ</h1>
                <h1 th:if="${!isSelf}" class="text-center fs-3 mb-0">
                    Динамика Т6МХ пациента
                    <span th:text="${patient.userInformation.fullName}" class="fw-bold">Петров Сергей Иванович</span>
                </h1>
            </div>
            <!---->
            <div class="row text-center mb-5">
                <div class="col-12 col-lg-6 text-center">
                    <h5 class="text-secondary fs-4 mb-3">До нагрузки</h5>
                    <canvas class="text-center" id="oxygenPercentageBefore"></canvas>
                    <canvas class="text-center" id="pulseRateBefore"></canvas>
                </div>
                <div class="col-12 col-lg-6 text-center">
                    <h5 class="text-secondary fs-4 mb-3">После нагрузки</h5>
                    <canvas class="text-center" id="oxygenPercentageAfter"></canvas>
                    <canvas class="text-center" id="pulseRateAfter"></canvas>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js" th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
        <script src="../../../static/js/indicators/graphics/walk-test-graphic.js" th:src="@{/js/indicators/graphics/walk-test-graphic.js}"></script>
        <!---->
    </body>
</html>
