<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:if="${isSelf}" th:text="${analysisTypeName}">Развёрнутый анализ крови</title>
        <title th:if="${!isSelf}" th:text="${analysisTypeName} + ' пациента &laquo;' + ${patient.userInformation.fullName} + '&raquo;'">Развёрнутый анализ крови пациента "Иванов Степан Петрович"</title>
        <link href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png" th:href="@{/favicon/favicon-16x16.png}" />
    </head>

    <body class="min-vh-100 d-flex flex-column align-items-center justify-content-between bg-main">
        <!---->
        <div th:replace="~{@{${headerPath}} :: ${headerName}}"></div>
        <!---->
        <div class="container text-secondary my-5">
            <!---->
            <div th:replace="~{/indicators/fragments/indicator-title :: indicator-title (${analysisTypeName}, ${analysisTypeName})}"></div>
            <!---->
            <div th:replace="~{/fragments/selection/periodization :: periodization}"></div>
            <!---->
            <div class="row fs-5" th:each="each, status : ${files}" th:classappend="${!status.last} ? 'mb-3'">
                <div class="col-12 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                    <div class="m-2 m-md-0">
                        <img width="28" src="../../../static/svg/pdf.svg" th:src="@{/svg/pdf.svg}" alt="PDF" />
                        <a href="#" th:href="@{/uploads/__${each.filename}__}" th:text="${each.filename}" class="text-secondary">Киров (1) 17-09-2019 12.58.57</a>
                    </div>
                    <div class="m-2 m-md-0">
                        <span th:text="${each.formattedDate}">17-09-2019 в 12:58:57</span>
                    </div>
                    <div class="m-2 m-md-0">
                        <a href="#" th:href="@{/download/__${each.filename}__}" class="text-decoration-none">
                            <img width="28" src="../../../static/svg/download.svg" th:src="@{/svg/download.svg}" alt="Скачать" />
                        </a>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row" th:if="${files.empty}" id="empty-files-message">
                <div class="col-12">
                    <div class="text-secondary text-center fst-italic fs-3">Список файлов пуст</div>
                </div>
            </div>
            <!---->
        </div>
        <!---->
        <div th:replace="~{/fragments/footers/footer :: footer}"></div>
        <!---->
        <script src="../../../static/js/selection/periodization.js" th:src="@{/js/selection/periodization.js}"></script>
        <script src="../../../static/js/bootstrap/bootstrap.bundle.min.js" th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <!---->
    </body>
</html>
